*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 70px;
}
.character-card{
  background-color: #f3f1f1;
  margin: 20px;
  list-style: none;
  width: 120px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
}
.character-card a{
text-decoration: none;
}

.character-card h3{
  color: #000;
  }
.character-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.container-login input{
    margin-top: 10px;
}
.cotainer-characters h1{
  margin-bottom: 15px;
}
form.input-container{
  margin:20px;
}
form.input-container button{
  background-color: crimson;
  width: 55px;
  height: 30px;
  border-radius: 5px;
  border: 3px #000 solid;
  color: #ffffff;
}
.character-info .sections{
  background-color: #f3f1f1;
  margin: 10px;
}